---
layout: page

---

<body>
  <!-- CSS -->
  <link rel="stylesheet" href="../fordeco/style.css" />
  <!-- Javascript -->
  <script type="module" src="../assets/js/src/main.js" defer></script>
  <script type="module" src="../assets/js/src/projects.js" defer></script>
  <script type="module" src="../assets/js/src/active_menu.js" defer></script>
  <script>
          document.addEventListener('DOMContentLoaded', function() {
    let maxWidth = 0;

    // 모든 .major 요소의 너비를 검사
    document.querySelectorAll('.major').forEach(element => {
        const width = element.offsetWidth;
        if (width > maxWidth) {
            maxWidth = width;
        }
    });

    // 모든 .major 요소의 너비를 가장 큰 너비 값으로 설정
    document.querySelectorAll('.major').forEach(element => {
        element.style.width = `${maxWidth}px`;
    });
});

        </script>
  <!-- Main -->
  <main>
    <!-- About -->
    <section id="about" class="section max-container">
      <ul class="majors">
        <li class="major">
          <i class="fa-brands fa-html5 major__icon"></i>
          <p class="major__title">Front-end</p>
          <p>HTML, CSS, JavaScript, React </p>
        </li>
        <li class="major">
          <i class="fa-solid fa-mobile major__icon"></i>
          <p class="major__title">Mobile</p>
          <p>Android, React Navtive, Flutter</p>
        </li>
        <li class="major">
          <i class="fa-solid fa-server major__icon"></i>
          <p class="major__title">Back-end</p>
          <p>Nodejs , Java </p>
        </li>
      </ul>
    </section>
    <!-- Skills -->
    <section id="skills" class="section">
      <div class="max-container">
        <h2 class="title">My Skills</h2>
        <p class="description">Skills & Attributes</p>
        <div class="skills">
          <section class="skills__coding">
            <h3 class="skills__title">Coding Skills</h3>
            <ul>
              <li class="bar">
                <div class="bar__metadata">
                  <span>HTML</span><span>98%</span>
                </div>
                <div class="bar__bg">
                  <div class="bar__value" style="width: 98%"></div>
                </div>
              </li>
              <li class="bar">
                <div class="bar__metadata">
                  <span>CSS</span><span>90%</span>
                </div>
                <div class="bar__bg">
                  <div class="bar__value" style="width: 90%"></div>
                </div>
              </li>
              <li class="bar">
                <div class="bar__metadata">
                  <span>JavaScript</span><span>90%</span>
                </div>
                <div class="bar__bg">
                  <div class="bar__value" style="width: 90%"></div>
                </div>
              </li>
              <li class="bar">
                <div class="bar__metadata">
                  <span>React</span><span>79%</span>
                </div>
                <div class="bar__bg">
                  <div class="bar__value" style="width: 79%"></div>
                </div>
              </li>
              <li class="bar">
                <div class="bar__metadata">
                  <span>NodeJs</span><span>10%</span>
                </div>
                <div class="bar__bg">
                  <div class="bar__value" style="width: 10%"></div>
                </div>
              </li>
            </ul>
          </section>
          <section class="skills__tools">
            <h3 class="skills__title">Tools</h3>
            <ul>
              <li>Visual Studio Code</li>
              <li>Android Studio Code</li>
            </ul>
          </section>
          <section class="skills__etc">
            <h3 class="skills__title">Etc</h3>
            <ul>
              <li>Git</li>
              <li>Math</li>
            </ul>
          </section>
        </div>
      </div>
    </section>
    <!-- Work -->
    <section id="work" class="section">
      <div class="max-container">
        <h2 class="title">My work</h2>
        <p class="description">Projects</p>
        <ul class="categories">
          <li>
            <button class="category category--selected" data-category="all">
              All <span class="category__count">8</span>
            </button>
          </li>
          <li>
            <button class="category" data-category="front-end">
              Front-end <span class="category__count">4</span>
            </button>
          </li>
          <li>
            <button class="category" data-category="back-end">
              Back-end <span class="category__count">2</span>
            </button>
          </li>
          <li>
            <button class="category" data-category="mobile">
              Mobile <span class="category__count">2</span>
            </button>
          </li>
        </ul>
        <ul class="projects">
          <li class="project" data-type="front-end">
            <a href="#" target="_blank">
              <img
                src="../assets/img/images/projects/project1.webp"
                alt="project1"
                class="project__img" />
              <div class="project__metadata">
                <h3 class="project__title">Project #1</h3>
                <p>Clone Coding with HTML, CSS</p>
              </div>
            </a>
          </li>
          <li class="project" data-type="front-end">
            <a href="#" target="_blank">
              <img
                src="../assets/img/images/projects/project2.webp"
                alt="project2"
                class="project__img" />
              <div class="project__metadata">
                <h3 class="project__title">Project #2</h3>
                <p>Clone Coding with HTML, CSS</p>
              </div>
            </a>
          </li>
          <li class="project" data-type="back-end">
            <a href="#" target="_blank">
              <img
                src="../assets/img/images/projects/project3.webp"
                alt="project3"
                class="project__img" />
              <div class="project__metadata">
                <h3 class="project__title">Project #3</h3>
                <p>Clone Coding with HTML, CSS</p>
              </div>
            </a>
          </li>
          <li class="project" data-type="mobile">
            <a href="#" target="_blank">
              <img
                src="../assets/img/images/projects/project4.webp"
                alt="project4"
                class="project__img" />
              <div class="project__metadata">
                <h3 class="project__title">Project #4</h3>
                <p>Clone Coding with HTML, CSS</p>
              </div>
            </a>
          </li>
          <li class="project" data-type="front-end">
            <a href="#" target="_blank">
              <img
                src="../assets/img/images/projects/project5.webp"
                alt="project5"
                class="project__img" />
              <div class="project__metadata">
                <h3 class="project__title">Project #5</h3>
                <p>Clone Coding with HTML, CSS</p>
              </div>
            </a>
          </li>
          <li class="project" data-type="back-end">
            <a href="#" target="_blank">
              <img
                src="../assets/img/images/projects/project6.webp"
                alt="project6"
                class="project__img" />
              <div class="project__metadata">
                <h3 class="project__title">Project #6</h3>
                <p>Clone Coding with HTML, CSS</p>
              </div>
            </a>
          </li>
          <li class="project" data-type="mobile">
            <a href="#" target="_blank">
              <img
                src="../assets/img/images/projects/project7.webp"
                alt="project7"
                class="project__img" />
              <div class="project__metadata">
                <h3 class="project__title">Project #7</h3>
                <p>Clone Coding with HTML, CSS</p>
              </div>
            </a>
          </li>
          <li class="project" data-type="front-end">
            <a href="#" target="_blank">
              <img
                src="../assets/img/images/projects/project8.webp"
                alt="project8"
                class="project__img" />
              <div class="project__metadata">
                <h3 class="project__title">Project #8</h3>
                <p>Clone Coding with HTML, CSS</p>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </section>
  </main>
</body>